<div class="container page-header">
	<h1>About</h1>
</div>

<div class="container">
	<div class="row">
			<p>Este sitio fue creado como parte de un trabajo para el curso 
			<em><b>CI-2413</b> Desarrollo de Aplicaciones para Internet</em> de la Universidad de Costa Rica
			impartido por el prof. <a href="http://bsolano.com" target="_blank">Braulio Solano</a>.
			Fue creada por Andres Bejarano, estudiante de Ciencias de la Computacion e Informatica.
			Aqui encontrara un poco de informacion sobre mi y la carrera que curso.</p>
		
	</div>
</div>
