<div class="jumbotron parallax-window" ng-parallax pattern="'images/background.jpg'" speed="0">
	<div class="container">
		<h1>Por que computacion?</h1>
	</div>
  
</div>

<div class="container">
	<div class="page-header">
		<h1>Eligiendo la carrera correcta</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<br>
		<p>Desde temprano en mi infancia supe que queria estudiar algo relacionado a la ingenieria.
		Al aplicar a la Universidad de Costa Rica estaba considerando estudiar Ingenieria Mecanica,
		Ingenieria Electrica y, obviamente, Ciencias de la Computacion.</p>
		<br>
		<p>La eleccion al final termino siendo un poco al azar, ya que me interesaban igualmente las 3.
		Sin embargo, al terminar el primer semestre de computacion supe que habia elegido correctamente
		y no me arrepiento para nada de esa eleccion.</p>
		<br>
		<p>Si tuviera que elegir 3 razones por las cuales siento que Computacion es la carrera
		adecuada para mi, serian: </p>
	</div>

	<div class="row">
		<div class="page-header">
			<h2>Innovacion y creatividad</h2>
		</div>
		<div>
				<p>Para ser un buen profesional en el área de la computación, no sólo basta
				con tener conocimientos técnicos o habilidades para programar. Sino que también
				requiere ser capaz de brindar soluciones innovadoras a problemas nunca antes vistos.
				Para hacer esto hay que poder pensar fuera de la caja, tener un cierto grado de imaginación,
				y poder concretar todas las ideas en una solución al problema que sea práctica, eficiente
				y simple. Cualquier persona puede aprender a programar. Pero resolver problemas reales
				usando la programación es otra cosa totalmente distinta. Basta con ver los avances que
				ha hecho la tecnología para ver que las ciencias de la computación son un área en
				la cual ser creativo y tener imaginación brinda grandes frutos.</p>
		</div>
	</div>
	<div class="row">
		<div class="page-header">
			<h2>Interés personal en ciencias</h2>
		</div>
		<div>
				<p>Desde niño siempre me han interesado las ciencias y las ingenierías. Solía
				decirle a la gente que yo iba a ser astronauta algún día y, claramente, mi mayor
				ídolo era (y sigue estando en el panteón de mis grandes ídolos) Franklin Chang.
				Por lo que al elegir qué era lo que iba a estudiar lógicamente me fui directamente
				al área de las ingenierías. En particular, el área de las ciencias de la computación
				me atrajo mucho debido a que era un área que estaba experimentando una 
				<a href="http://www.economist.com/news/special-report/21593580-cheap-and-ubiquitous-building-blocks-digital-products-and-services-have-caused">
					explosión cámbrica
				</a>
				en los finales de los 90s que sigue hasta al dia de hoy.
				Siempre me han fascinado las computadoras por lo que son capaces de hacer ahora
				y, más aún, por lo que se podría hacer con ellas pero aún no se ha hecho.
				Además me parece que es un área que se complementa muy fácilmente con otras áreas
				de la ingeniería. Ingeniería química, física, industrial, mecánica, civil al igual
				que las ciencias básicas, todas pueden integrarse con las ciencias de la computación.
				Al colaborar juntas, se potencian las posibilidades de lo que se puede lograr.</p>
		</div>
	</div>
		
	<div class="row">
		<div class="page-header">
			<h2>Oportunidad para desarrollo</h2>
		</div>
		<div>	
				<p>Como expliqué antes, una de la razones por las cuales escogí estudiar
				Ciencias de la Computación fue porque vi que estaba experimentando una
				explosión cámbrica al inicio de los 2000. Debido a esto, las oportunidades
				de trabajo en esta área son enormes. Hay escasez de programadores en todo lado
				y las compañías cada vez se esfuerzan más para atraer talento. Esto ha casi
				que asegurado que cada profesional graduado encontrará un empleo. Por otro lado,
				si se es una persona que no quiere trabajar para una empresa sino empezar una propia,
				estudiar computación es probablemente la mejor decisión que se podría tomar hoy en día.
				El área de computación y software es probablemente el área más fértil, atractiva
				y dinámica para fundar una compañía hoy en día. Esto no significa que vaya a ser fácil;
				más bien al contrario, debido a su popularidad y alta competencia va a ser sumamente
				difícil. Pero las oportunidades de éxito abundan y se puede crear un impacto enorme si
				se triunfa. </p>
		</div>
	</div>
		
</div>