<div class="container page-header">
	<h1>Contacto</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1>Contacteme por correo</h1>
			<div class = "container" id="contact-form">
				<form action="MAILTO:andresbejar@gmail.com" method="get" enctype="text/plain">

					<label for="name">Nombre: <span class="required">*</span></label><br>
					<input type="text" id="name" name="name" value="" placeholder="Nombre" autofocus="autofocus">
					<br>
					<label for="comments">Comentario: <span class="required">*</span></label><br>
					<textarea id="comments" name="comments" placeholder="Su mensaje debe contener mas de 20 caracteres" required="required" minlength="20"></textarea>
					<br><br>
					<p><span class="required">*</span> significa un campo obligatorio</p>
					<input type="submit" value="Send">
					<input type="reset" value="Reset">
				</form>
			</div>
			
		</div>
		<div class="col-md-4" style="padding-left:20px; border-left: 1px solid #ccc;">
			<!-- Go to www.addthis.com/dashboard to customize your tools -->

            <div class="addthis_vertical_follow_toolbox"></div>

		</div>
		
	</div>
</div>