<div class="jumbotron parallax-window" ng-parallax pattern="'images/background.jpg'" speed="0">
	<div class="container">
		<h1>Cursos preferidos</h1>
	</div>
  
</div>

<div class="container">
	<div class="row">
		<br>
		<p>Mis cursos favoritos, en el orden en que los lleve, han sido: </p>
	</div>
	<div class="row">
		<div class="page-header">
			<h1>Programacion I</h1>
		</div>
		<p>Programación I lo recibí en el segundo semestre del año 2012, mi primer año en la U.
		Lo recibí con el profesor Edgar Casasola. Debo mencionar que, para antes de este curso, 
		yo no sabía programar ni un <em>Hola Mundo</em> en Java. Yo entré fresco. Este curso fue 
		y sigue siendo el curso más difícil que he llevado en la U. Los examenes eran escritos y 
		yo me sentía incómodo con la sintaxis de Java, por lo que siempre cometía errores tontos
		de sintaxis. Pero le entré con todo y después de sobrevivir una semana final en la que tuve
		examen final viernes y entrega final domingo, dormí tal vez 10 horas en toda la semana,
		logré pasar el curso. Al final me encantó el curso porque fue mi primera introducción al
		mundo de la programación y me di cuenta que sí me gustaba la carrera y estaba dispuesto
		a palmarla si era necesario.</p>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Estructuras de Datos y Analisis de Algoritmos</h1>
		</div>
		<p>
		Este curso lo llevé con la profesora Sandra Kikut.
		Me encantó el curso porque aquí fue donde se le dio profundidad a la materia que 
		se había visto superficialmente en los cursos anteriores. Finalmente aprendí qué era
		una tabla hash. Además aprendí a implementar árboles de la manera correcta, y muchos tipos
		de árboles (2-3, Rojo y Negro, de búsqueda binaria, AVL, etc..). De hecho que terminé
		estudiando muchas otras estructuras que no eran parte del curso sólo por interés propio.
		También me encantó aprender sobre algoritmos de búsqueda y técnicas de resolución de problemas.
		Ah, y finalmente entendí qué demonios significa <em>O(n)</em>.
		</p>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Sistemas operativos</h1>
		</div>
		<p>Este curso lo llevé con el profesor Luis Quesada, uno de mis profesores favoritos. Este curso
		en particular me encantó porque siento que aquí fue donde finalmente aprendí cómo funciona
		una computadora moderna. Antes de este curso, el sistema operativo era un agente mágico que hacía todo
		por uno y se encargaba de que la computadora funcionara usando magia. Finalmente entendí qué
		era un hilo, después de más de un año de estar escuchando a profesores decirme que podía implementar
		una tarea programada usando hilos y tener que sonreírles de vuelta sin saber de que estaban hablando.
		Además siento que el proyecto de curso, implementar un sistema operativo casi que desde cero, ha sido
		uno de los puntos altos de mi carrera universitaria. Nada supera ver a su propio OS bootear en una máquina
		virtual y ver que es usable, cuando antes simplemente era un poco de código en ensamblador (el bootstrapper).</p>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Ensambladores y Microprocesadores</h1>
		</div>
		<p>Este curso lo llevé con Ricardo Villalón. Aunque
		no soy fan del lenguaje ensamblador, su sintaxis bizarra y sus dialectos NASM, aquí aprendí por primera
		vez cómo funciona la computadora al nivel más bajo, a nivel de máquina y código hexadecimal. Siempre
		quedaron algunos huecos de conocimientos que luego fueron rellenados en el curso Arquitectura de
		Computadoras, pero aquí aprendí finalmente qué era lo que pasaba debajo del sistema operativo. 
		En particular, las tareas de desactivar una bomba escondida en algún punto en la pila de un programa
		escrito en ensamblador fueron geniales y lograron captar mi interés en una materia que antes veía como
		aburrida.</p>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Bases de datos II</h1>
		</div>
		<p>Bases de datos II lo llevé con la profesora Elzbieta Malinowski, probablemente mi profesora favorita
		y una persona que me ha ayudado mucho en mi carrera. Salí de Bases de Datos I con mucho interés y ansioso
		de seguir aprendiendo sobre bases de datos y este curso cumplió todas mis expectativas. Mucha "magia misteriosa"
		detrás de cómo funcionan las bases de datos fue disipada, como los índices y las técnicas de consistencia de datos
		y recuperación de datos. Además fue muy interesante aprender sobre bases de datos espaciales. </p>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Paradigmas Computacionales</h1>
		</div>
		<p>
			Paradigmas Computacionales lo llevé el primer semestre del 2015 con Alvaro de la Ossa. El curso me gustó mucho
			porque siento que finalmente cubría muchos de los temas más fundamentales de la carrera; la ciencia en las
			Ciencias de la Computación. Varios temas ya los conocía porque había leído sobre ellos anteriormente, como
			las máquinas de Turing, las clases de problemas, el problema P=NP. Sin embargo muchos otros temas eran 
			más desconocidos para mí, como los sistemas multiagente y sistemas basados en reglas. Me encantó aprender
			LISP y Prolog, en particular LISP me gustó mucho. Me habría gustado aprender más sobre redes neurales artificiales,
			ya que es un tema que anda desarrollándose mucho ultimamente y ha dado muy buenos resultados en la creación
			de sistemas de aprendizaje.
		</p>
	</div>
</div>