<div class="jumbotron parallax-window" ng-parallax pattern="'images/background.jpg'" speed="0">
	<div class="container">
		<h1>Cursos preferidos</h1>
	</div>
  
</div>

<div class="container">
	<div class="row">
		<br>
		<p>Mis cursos favoritos, en el orden en que los lleve, han sido: </p>
	</div>
	<div class="row">
		<div class="page-header">
			<h1>Programacion I</h1>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Estructuras de Datos y Analisis de Algoritmos</h1>
		</div>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Sistemas operativos</h1>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum mollitia sit deserunt quam error quidem obcaecati est rem magnam blanditiis suscipit dolor vitae, necessitatibus temporibus laudantium! Culpa quam distinctio assumenda!</p>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Ensambladores y Microprocesadores</h1>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est eos laudantium quia vitae, quasi accusamus quod consectetur quis ullam autem ducimus aliquid reiciendis ea sed facere perspiciatis enim, dolorem, corporis.</p>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Bases de datos II</h1>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora autem, dolores, dolorem optio distinctio quod. Iste maxime ea quibusdam, sint, natus quisquam vero quia voluptate id, quod tempora doloremque eveniet.</p>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Paradigmas Computacionales</h1>
		</div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>