<div class="jumbotron parallax-window" ng-parallax pattern="'images/background.jpg'" speed="0">
	<div class="container">
		<h1>Descargas y links</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<br>

		<ul class="list-unstyled">
			<li><h1>Descarga 1: <a href="http://www.sanger.dk/" target="_blank">Pugs</a></h1></li>
			<li><h1>Descarga 2: <a href="https://github.com/andresbejar/MedBrain" target="_blank">MedBrain</a></h1></li>
			<li><h1>Descarga 3: <a href="http://calm-wildwood-7588.herokuapp.com" target="_blank">Groopy</a></h1></li>
			<li><h1>Descarga 4: <a href="http://www.partridgegetslucky.com/" target="_blank">Partridge</a></h1></li>
		</ul>
	</div>
</div>