<div class="jumbotron parallax-window" ng-parallax pattern="'images/background.jpg'" speed="0">
	<div class="container">
		<h1>Pasatiempos</h1>
	</div>
  
</div>

<div class="container">

	<div class="row">
	<br>
		<p>Tengo varios pasatiempos, algunos que practico frecuentemente y otros solo ocasionalmente.
	 	Aqui listo algunos de ellos.
	 	</p>
	</div>



	<div class="row">
		<div class="page-header">
			<h1>Guitarra</h1>
		</div>
		<p>Llevo tocando guitarra mas de 6 años, aprendi solo sin recibir ningun tipo de clases formales.
		Empece tocando guitarra electrica y luego lentamente hice la transicion a guitarra clasica y acustica.
		Antes solia tocar con una banda en el colegio, donde realizamos bastantes conciertos y ganamos
		premios en shows de talento. Actualmente la banda, excepto yo, sigue dando conciertos regularmente bajo un nombre nuevo.
		Luego empece a dar conciertos en duetos o solo, donde tambien gane varios premios. Hoy en dia no practico
		tanto como quisiera pues le he dado mas prioridad a otras actividades, como la programacion.
		Sin embargo, quisiera retomar el habito y dedicarle mas tiempo a volver a practicar guitarra.</p>

	</div>
	<div class="row">
		<div class="page-header">
			<h1>Ejercicios</h1>
		</div>
		<p>Me gusta mucho hacer ejercicios de todo tipo. Usualmente voy al gimnasio unas 3 veces por semana
		y tambien corro los fines de semana. Ejercitarme me ayuda a relajarme mentalmente y a retomar
		energias cuando estoy cansado. Ademas me parece que es un habito necesario en la vida y uno que se debe
		inculcar en todo mundo. Tambien me permite poder comer muy liberalmente; puedo comer
		practicamente lo que quiera y no me preocupo mucho porque vaya a engordar. Si siguiera
		una dieta veria mejores resultados con el entrenamiento, pero me es mas dificil empezar una dieta
		que entrenar como loco en el gimnasio.</p>
	</div>
	<div class="row">
		<div class="page-header">
			<h1>Leer</h1>
		</div>
		<p>Me gusta mucho leer y suelo leerme minimo un libro al mes. Cuando era niño solia devorar libros
		y llegaba a leerme hasta uno por semana. Y hablo de libros de 500 paginas, no libros cortos. Recuerdo
		que logre leerme <i>El Codigo Da Vinci</i> en un fin de semana. Tristemente, en
		algun momento durante mi adolescencia perdi el habito de leer, pero desde el año pasado lo llevo
		retomando. Los ultimos libros que me he leido han sido <i>Zero to One</i> de Peter Thiel, el
		co-fundador de PayPal y Palantir, <i>The Art of Non-Comformity</i> de Chris Guillebeau, un reconocido
		<i>travel hacker</i> que enseña como uno puede cumplir sus metas sin tener que someterse a un trabajo normal,
		y <i>Outliers</i> de Malcolm Gladwell, un escritor ultra-famoso y uno de mis favoritos. Actualmente
		estoy leyendo <i>Antifragile</i> de Nassim Taleb. El libro trata sobre el concepto de la antifragilidad
		como una propiedad de varios sistemas que les permite fortalecerse en la presencia de la incertidumbre
		y las dificultades y debilitarse en su ausencia. El libro esta muy interesante aunque un poco complejo.</p>
	</div>
</div>