<div class="jumbotron parallax-window" ng-parallax pattern="'images/background.jpg'" speed="0">
	<div class="container">
		<h1>Profesores y companheros</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<br>
		<p>Algunos de los profesores y companheros con los que he compartido estos anhos son:</p>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Profesores</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<img src="http://placekitten.com/g/200/200" class="img-circle">
		</div>
		<div class="col-md-8">
			<ul>
				<li><h2>Elzbieta Malinowski</h2></li>
				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, nulla dolor odit ut quos odio, deleniti animi quia nam ipsa ipsum consequatur alias non dolore eveniet repudiandae quo autem esse.</p></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<ul>
				<li><h2>Luis Quesada</h2></li>
				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ipsa consequatur unde nisi soluta voluptatum sapiente maiores, in aspernatur ab eos non deserunt tenetur quaerat, incidunt quis voluptas praesentium, cum.</p></li>
			</ul>
		</div>
		<div class="col-md-4">
			<img src="http://placekitten.com/g/200/200" class="img-circle">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img src="http://placekitten.com/g/200/200" class="img-circle">
		</div>
		<div class="col-md-8">
			<ul>
				<li><h2>Ricardo Villalon</h2></li>
				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam sunt ipsa quidem velit fugiat, hic illum et, rerum similique. Fuga dignissimos quo dolores tempore voluptate cupiditate consequatur sequi non numquam?</p></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<ul>
				<li><h2>Sandra Kikut</h2></li>
				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium impedit alias eligendi doloremque voluptatum aspernatur ad, suscipit, dicta id, soluta hic natus qui omnis nulla in animi vero laudantium veniam?</p></li>
			</ul>
		</div>
		<div class="col-md-4">
			<img src="http://placekitten.com/g/200/200" class="img-circle">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img src="http://placekitten.com/g/200/200" class="img-circle">
		</div>
		<div class="col-md-8">
			<ul>
				<li><h2>Braulio Solano</h2></li>
				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptatum totam aliquam, non expedita dolorem voluptate animi sapiente qui nihil, velit dolore veritatis aperiam odio ipsum ex omnis, iusto sunt.</p></li>
			</ul>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="page-header">
			<h1>Companheros</h1>
		</div>
	</div>
	<div class="row">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

</div>