<div class="jumbotron parallax-window" ng-parallax pattern="'images/background.jpg'" speed="0">
	<div class="container">
		<h1>Profesores y compañeros</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<br>
		<p>Algunos de los profesores y companheros con los que he compartido estos años son:</p>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Profesores</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<img src="images/profesores/elka.jpg" class="img-circle fotos-profesores">
		</div>
		<div class="col-md-8">
			<ul>
				<li><h2>Elzbieta Malinowski</h2></li>
				<li><p>Elka es de mis profesoras favoritas. Ella me ha ayudado mucho a lo largo de la
				carrera y ha sido una persona muy influyente. Con ella llevé Bases de Datos II.</p></li>
				<li><a href="https://cr.linkedin.com/in/elzbieta-malinowski-5422464"><i class="fa fa-linkedin-square"
				 aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<ul>
				<li><h2>Luis Quesada</h2></li>
				<li><p>Luis Quesada es otro de mis profesores favoritos. Con él he llevado Sistemas Operativos
				y Automatas y Compiladores. Luis me ha ayudado mucho en trabajos de la U y otros proyectos
				extracurriculares.</p></li>
				<li><a href="https://cr.linkedin.com/in/luis-quesada-28b87235"><i class="fa fa-linkedin-square"
				 aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<img src="images/profesores/quesada.jpg" class="img-circle fotos-profesores">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img src="images/profesores/villalon.png" class="img-circle fotos-profesores">
		</div>
		<div class="col-md-8">
			<ul>
				<li><h2>Ricardo Villalon</h2></li>
				<li><p>Ricardo Villalón es un excelente profesor. Lo conocí por primera vez cuando organizó un
				hackathon hace años en conjunto con Sandia Labs llamado Tracer Fire. Considero ese hackathon
				otro de los puntos altos de mi carrera en la U y fue gracias a su esfuerzo y entusiasmo que el
				hackathon fue un éxito. Luego nos volvimos a encontrar en el curso Ensambladores y Microprocesadores.</p></li>

			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<ul>
				<li><h2>Braulio Solano</h2></li>
				<li><p>A Braulio lo conocí hasta el último semestre de la carrera, en el curso de Desarrollo
				de Aplicaciones Web e Ingeniería de Software II. </p></li>
				<li><a href="https://cr.linkedin.com/in/brauliosolanorojas"><i class="fa fa-linkedin-square"
				 aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<img src="images/profesores/braulio.jpg" class="img-circle fotos-profesores">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="page-header">
			<h1>Compañeros</h1>
		</div>
	</div>
	<div class="row">
		<p>
			A través de 4 años de carrera uno se hace de muchos amigos y conocidos, muchos más de los que
			pueda mencionar en un sólo párrafo. Muchos de ellos los conocí desde el primer año y seguimos
			llevando los mismos cursos, otros los acabo de conocer, pero a todos los voy a recordar como 
			parte intrínsica de mi experiencia universitaria. Dichosamente, gracias a las redes sociales
			hoy es más fácil mantenerse en contacto con amigos sin importar la distancia. Espero mantenerme
			en contacto con todos y así mantener la amistad.
		</p>
	</div>
	<div class="row">
		<p>Debido a que me es muy impráctico incluir una foto de todos los amigos de carrera que tengo, aquí
		dejo un ícono anónimo que representa a todos esos amigos/conocidos que hice a lo largo de la carrera.
		Por muchos años más de amistad.</p>
	</div>
	<div class="row friends">
		<i class="fa fa-users fa-5x" aria-hidden="true"></i>
	</div>

</div>